<h2>{{celebrity.name}}</h2>
<h2>{{celebrity.occupation}}</h2>
<h2>{{celebrity.catchPhrase}}</h2>

<form action="/celebrities/{{celebrity._id}}/delete" method="post">
  <button type="submit">Delete</button>
</form>

<form action="/celebrities/{{celebrity._id}}/new">
  <button type="submit">Edit</button>
</form>