{{#if movie.isNew }}
  <h2>New movie</h2>
  <form action="/movies/new" method="post">
{{else}}
  <h2>Edit movie</h2>
  <form action="/movies/{{movie._id}}/new" method="post">
{{/if}}
  <div>
    Title:<input type="text" name="title" value="{{movie.title}}">
  </div>
  <div>
    Genre:<input type="text" name="genre" value="{{movie.genre}}">
  </div>
  <div>
    Plot:<input type="text" name="plot" value="{{movie.plot}}">
  </div>
  <div>
    <label for="celebrity">Celebrity</label>
    <select class="form-control"  name="celebrity">
      {{#each celebrities as |celebrity|}}
        <option value="{{celebrity.id}}">{{celebrity.name}}</option>
      {{/each}}
    </select>
  </div>

  <button type="submit">Submit</button>
</form>